
 <p class="pt-5"></p>
<%= render 'layouts/analytics' %>
<div class="container">
    <div class="jumbotron jumbotron-extend5">
      <p></p>
      <h1 class="text-center">My bookmark page</h1>
     <p class="pt-5"></p>
    </div>
 
    <div class="container">
     <div class="row">
    
        <% @bookmarks.each do |bookmark| %>
          <% trick = bookmark.trick %>
      
            <div id="user_trick_<%= trick.id %>">
              <%= render partial: "user_tricks/usertrick", locals: {trick: trick} %>
           </div>
        <% end %>
     </div>
    </div>
　　<p></p>


  
<h5 class="text-center"><%=link_to "トリック一覧に戻る", tricks_path, class: "btn btn-warning mx-2" %></h5>


</div>
