<!DOCTYPE html>
<html lang ="ja">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Poletricks</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="stylesheets/top.scss">

</head>

<body>
	<!--nav bar start-->

  <!-- Navbar content -->
  <div class="container">
 <nav class="navbar navbar-expand-lg navbar-light bg-white">
     <%= image_tag'logo2red.png', :size =>'110x30' %>
  		
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Top<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>

  <nav class="navbar navbar-light bg-white">
  <form class="form-inline">
	    <button class="btn btn-outline-warning mx-2" type="button">Signup</button>
	    <button class="btn btn-outline-warning mx-2" type="button">Login</button>
   </form>
</nav>
	<div class="icon">
	<i class="fab fa-twitter"></i>
	<i class="fab fa-facebook-square"></i>
	<i class="fab fa-instagram"></i>
	</div>
</nav>
</div>
<!--end navbar-->
<!--main start-->
<div class="jumbotron jumbotron-extend">
	
  <div class="container">
  
	  <h1 class="display-4">動画を検索して練習しよう!</h1>
	  <p>ポールダンスのトリックを検索して閲覧、練習してチェックできます</p>
	 	<%=image_tag'logo2yellow.png', :size =>'300x130' %>
	  <p>Let's get started!</p>
	 
	  <div class="caption">
  	    <a class="btn btn-warning btn-lg" href="#" role="button">create your account</a>
  	  </div>
  </div>
 </div>


<!--end main-->

<!--videoexample start-->
<div class="container">
	<div class="row">
	    <div class="col-md-12">
			<h2>動画でトリックをマスターする</h2>
		</div>
	</div>
<div class="row">
    <div class="col-sm mt-3">
      <div class="card" style="width: 18rem;">
        <img src="img/oanak.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Russian sprit</h5>
          </div>
      </div>
    </div>
  <div class="col-sm mt-3">
      <div class="card" style="width: 18rem;">
         <img src="img/oanak.jpg" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Russian sprit</h5>
           </div>
      </div>
    </div>
    <div class="col-sm mt-3">
      <div class="card" style="width: 18rem;">
       <img src="img/oanak.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">OanaK</h5>
          </div>
      </div>
     </div>
  </div>
</div>


<!--vicdeoexample end-->

<!--about start-->
<div class="about">
	<div class="jumbotron jumbotron-extend2">
	  <h3>About</h3>
	  <img src="img/street.jpg" alt="streetpole" class="street">
	  
	  <p class="lead">技の名前やイメージを簡単に検索できたらいいな</p>
	  <p>自分がどれだけできるようになったのか可視化できたら面白いな</p>
	  <p>そんなポールダンサーあるあるを解消すべくこのサービスを作って見ました。</p>
    </div>

	</div>

<!--about end-->

<!--howto start-->
<div class="howtouse">
	<div class="container">
    <h3>How to use</h3>
		<div class="row">
				<div class="col-sm mt-3">
					<p class="card-text">1.やって見たい技を探します</p>
					<div class="card" style="width: 18rem;">
					  <img src="img/doga.png" class="card-img-top" alt="一覧">
				    </div>
				 </div>
				 <div class="col-sm mt-3">
				 	<p class="card-text">2.動画を見て練習します。</p>
					<div class="card" style="width: 18rem;">
					  <img src="img/doga.png" class="card-img-top" alt="動画">
				    </div>
				 </div>
				 <div class="col-sm mt-3">
				 	<p class="card-text">3.できた技にチェックを入れます。</p>
					<div class="card" style="width: 18rem;">
					  <img src="img/check.png" class="card-img-top" alt="star">
					</div>
				 </div>
	</div>
</div>
<!--howto end-->
<!--cta start-->
<div class="cta">
<div class="jumbotron">
	
  <h1 class="lets">さあトリックをマスターしましょう!</h1>
  <a class="btn-cta btn-warning btn-lg" href="#" role="button">無料ではじめる</a>
</div>
</div>
<!--cta end-->
<!--profile-->



<div class="profile">
<h3>profile</h3>
<img src="img/mukashi.jpg" alt="profile" class="u-ki">
<h3>開発者:Yumiko Tezuka(U-ki)</h3>
<p>ポールダンサー・エアリアリスト</p>
<p>ポールダンスやエアリアルのショーを日本全国津々浦々で行なっています。</p>
<p>世界各国で大会の出場やパフォーマンス習得のために修行旅してます</p>
</div>

<!--footer start-->

<div class="footer">	
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="footer-logo">
					    <%= image_tag'logo2gray.png', :size =>'140x40' %>
				
					</div>
			    </div>
		    </div>
		    
		    <div class="row">
             <div class="col-12 text-center">
             	<nav id="fotter-menu1">
						<ul style="list-style: none;">
						<li><a href="#">Top</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact</a></li>
						<hr>
						 <li>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-facebook-square"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
						</li>
						<li> &copy; YumikoTezuka.</li>
						</ul>
					    </nav>
	             </div>
		      </div>
			</div>
		</div>
     
<!--footer end-->
　　<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 

	
	</body>
	</html>