<div class="container">
 <div class="row">
  <div class="col-md-6 offset-md-3">
         <p class="pt-5"></p>
    <div class="donemessage">
      <h2>メッセージ送信完了</h2>
      <strong>
        メッセージをいただきありがとうございました。
      </strong>
      <p></p>
      <%=image_tag'logo2yellow.png', :size =>'300x130' %>
      <p></p>
      <h5 class="text-center"><%=link_to "トリック一覧に戻る", tricks_path, class: "btn btn-primary mx-2" %></h5>

    </div>
  </div>
 </div>
</div>