<div class="jumbotron jumbotron-extend4">
    <div class="container">
          <h1 class="text-center">トリックをマスターしよう！</h1>
                <div class="col-12">
                    <h4 class="text-center text-white">現在の達成度:  %</h4>
                </div>
     </div>
</div>

<div class="container">
 <div class="row">
    <% @tricks.each do |trick| %>
      <div class="col-sm mt-3">
        <div class="card" style="width: 18rem;">
          <img src="http://img.youtube.com/vi/<%= trick.video_id %>/mqdefault.jpg" />
          <div class="card-body <%= check_user_trick(trick) %>">
            <h5 class="card-title"><%= link_to trick.title, trick %></h5>
            <%= link_to "masterした！", trick_user_tricks_path(trick), method: :post, class: 'btn btn-primary' %>
          </div>
       </div>
      </div>
    <% end %>
 </div>
</div>
