<!DOCTYPE html>
<html lang ="ja">
<head>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Poletricks</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="stylesheets/top.scss">

</head>



<div class="container">
<div class="mainvideo">
  
<video controls src="https://youtu.be/ueEByb0_vaA" poster="img/doga.png" width="550" height="400"></video>
</div>

<div class="videotitle">
  <h2>Irone X to dead lift</h2>
  </div>
<div class="jumbotron jumbotron-extend4">
  <div class="container">
  <form class="comment">
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Comment</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
      <button type="submit" class="btn btn-danger mb-2">Submit</button>
  </form>
  </div>
  </div>
  </div>
<!--related videos-->
<div class="container">
 <div class="relation">
    <h3>-related video-</h3>
  </div>
    <div class="row">
        <div class="col-sm mt-3">
          <div class="card" style="width: 18rem;">
            <img src="img/oanak.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Russian sprit</h5>
              </div>
          </div>
        </div>
      <div class="col-sm mt-3">
          <div class="card" style="width: 18rem;">
             <img src="img/oanak.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title">Russian sprit</h5>
       
               </div>
          </div>
        </div>
        <div class="col-sm mt-3">
          <div class="card" style="width: 18rem;">
           <img src="img/oanak.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">OanaK</h5>
              </div>
          </div>
         </div>
  </div>
</div>

</body>
</html>