<!--footer start-->
<div class="footer fixed-bottom">	
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="footer-logo">
					    <%= image_tag'logo2gray.png', :size =>'140x40' %>
					</div>
			    </div>
		    </div>
		    <div class="row">
             <div class="col-12 text-center">
             	<nav id="fotter-menu1">
						<ul style="list-style: none;">
						<li><%= link_to "Top",root_path %></li>
						<li><%= link_to "Blog",'http://acro-y.hatenadiary.com/',:target => "_blank" %></li>
						<li><%= link_to "Contact",index_path %></li>
						<li>
							<a href="https://twitter.com/poletricks"><i class="fab fa-twitter my-big" target = "_blank" rel="noopener noreferrer"></i></a>
							<a href="https://www.facebook.com/Poletricks-1177657425727381/"><i class="fab fa-facebook-square my-big" target = "_blank" rel="noopener noreferrer"></i></a>
							<a href="https://www.instagram.com/u_ki_acropole/" target = "_blank" rel="noopener noreferrer"><i class="fab fa-instagram my-big"></i></a>
						</li>
						<li> &copy; YumikoTezuka.</li>
						</ul>
				</nav>
	             </div>
		      </div>
			</div>
		</div>
<!--footer end-->