<!--footer start-->

<div class="footer">	
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="footer-logo">
					    <%= image_tag'logo2gray.png', :size =>'140x40' %>
				
					</div>
			    </div>
		    </div>
		    
		    <div class="row">
             <div class="col-12 text-center">
             	<nav id="fotter-menu1">
						<ul style="list-style: none;">
						<li><%= link_to "Top", '#' %></li>
						<li><%= link_to "Blog", '#' %></li>
						<li><%= link_to "Contact", '#' %></li>
						<hr>
						 <li>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-facebook-square"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
						</li>
						<li> &copy; YumikoTezuka.</li>
						</ul>
					    </nav>
	             </div>
		      </div>
			</div>
		</div>
     
<!--footer end-->